<div>
    Todo listo para trabajar con websockets
</div>

<script src="/socket.io/socket.io.js"></script>

// .. y aca esta incluido en mi plantilla el js de public para trabajar con socket del lado del cliente
<script src="/js/index.js"></script>